*, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
	padding: 0;
	margin: 0;
}

.centerViewport {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.roundedCorners {
	border-radius: 25px;
	background-color: #87ceeb;
    border: 2px solid #00bfff;
    padding: 20px; 
    width: auto;
    min-width: 25%;
    height: auto;
    min-height: 15%;
}

.slightUnderline {
	border-bottom-style: dashed;
	border-width: 1px;
	border-color: gray;
}

.welcome {	
	font-size: 3em;
}

.centerText {
	text-align: center;
}

.gray {
	color: rgb(32, 32, 32);
}

.mediumText {
	font-size: 2em;
}

.errorCell {
	width: auto;
}

.available {
	color: green;
}

.unavailable {
	color: red;
}

.error {
	color: red;	
}

.myInput {
	line-height:28px;
	border-width: 1px;
	border-color: gray;
}

.validImg {
	background-image: url("../images/valid.png");
	background-position: right top;
  	background-repeat: no-repeat;
  	background-size: contain;
}

.invalidImg {
	background-image: url("../images/invalid.png");
	background-position: right top;
  	background-repeat: no-repeat;
  	background-size: contain;
}

.frontItem {
	padding: 15px;
	border-right-style: dashed;
}

.nearImage {
	padding: 15px;
	text-align: center;
	width: 100%;
}

.verticalCenter {
	display:flex;
	align-items:center;
}

.container {
	width: 100%;
}

.leftSide {
	width: 50%;
	float: left;
}

.rightSide {
	width: 50%;
	overflow: hidden;
}

.frontForm {
	margin: auto;
}

.paddedHeader {
	padding-bottom: 45px;
}

.headerImage {
	width: 64px;
	height: 64px;
	transform: translate(-50%, 0%);
}

.headerLogo {
	text-align: center;
}

.headerBackground {
	background: #CDFFFF;
	border-bottom: solid 1px gray;
}

.dashboardTextInput {	
	width: 100%;
	height: 85px;
	resize: none;	
}

.dashboardInputContainer {
	text-align: center;
	width: 400px;
	margin: auto;
}

.underInput {
	text-align: right;
}

.kluchFeed {
	padding-top: 45px;
}

.kluch {
	width: 450px;
	margin: auto;
}

.kluchTextArea {	
	border: 1px solid gray;	
	height: 94px;
	margin: auto;
}

.opacityAnimation {
	-webkit-animation: opac 0.3s ease-out forwards;
	-moz-animation: opac 0.3s ease-out forwards;
	-o-animation: opac 0.3s ease-out forwards;
	animation: opac 0.3s ease-out forwards;
}

@-webkit-keyframes opac {
	0% {opacity: 0.0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.50;}
	75% {opacity: 0.75;}
	100% {opacity: 1.0;}
}

@-moz-keyframes opac {
	0% {opacity: 0.0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.50;}
	75% {opacity: 0.75;}
	100% {opacity: 1.0;}
}

@-o-keyframes opac {
	0% {opacity: 0.0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.50;}
	75% {opacity: 0.75;}
	100% {opacity: 1.0;}
}

@keyframes opac {
	0% {opacity: 0.0;}
	25% {opacity: 0.25;}
	50% {opacity: 0.50;}
	75% {opacity: 0.75;}
	100% {opacity: 1.0;}
}


.author {
	font-size: 0.85em;
	color: gray;
	text-align: right;
	margin: auto;
}

.newKluch {
	width: 350px;
	height: 85px;
	margin: auto;	
}

.cursorPointer {
	cursor: pointer;
}

