* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

/**

	#HEADER

*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 96px;
	width: 100%;
	background-color: white;
}

.header-buttons-wrapper {
	position: absolute;
	bottom: 0;
	z-index: 1001;
	width: 100%;
	display: table;
}

.header-buttons-left {
	text-align: right;
	padding-right: 200px;
	display: table-cell;
	width: 50%;
}

.header-buttons-right {
	text-align: left;
	padding-left: 200px;
	display: table-cell;
	width: 50%;
}

.header-button {
	width: 200px;
	font-size: 1.25em;
	text-align: left;
	display: inline-block;
}

.header-button-inactive {
	visibility: hidden;
}

.header-button-link {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.header-button-content {
	border: 1px solid #d0d0d0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: border;
	transition-property: border;
}

.header-button-content:hover {
	border: 1px solid black;
}

.header-button-image {
	display: inline-block;
	vertical-align: bottom;
	width: 32px;
	height: 32px;
}

.header-button-text {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-bottom: 3px;
}

.header-bottom-underline {
	background: url(../../resources/images/brand_color_background_thirds.png)  no-repeat center center fixed;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
  background-size: cover;
}

/**

	#LOGO

*/

.logo {
	width: 64px;
	height: 64px;
}

.logo-header {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -32px;
}

/**

	#COMMON

	For elements common to all documents.

*/

.page {
	margin-top: 95px;
	width: 100%;
}

.page-overlay {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: none;
}

.page-overlay-form {
	background-color: rgba(0, 0, 0, 0.35);
}

/**

	#FRONT-PAGE

*/

.front {
	width: 100%;
}

.front-side {
	width: 50%;
}

.front-side-left {
	float: left;
}

.front-side-right {
	overflow: hidden;
}

.front-side-introduction {
	width: 471px;
	float: right;
}

.front-side-introduction-element {
	width : 100%;
	height: 128px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

.front-side-introduction-element-middle {
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
}


.front-introduction-image {
	width: 96px;
	height: 96px;
}

.front-introduction-text-wrapper {
	height : 100%;
	display: table;
}

.front-introduction-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 375px;
}

.front-form {
	width: 400px;
	margin: 8px 0px 30px 30px;
	padding: 15px 10px 15px 10px;
	border-radius: 5px;
	background-color: #add8e6;
	border: solid 1px #1c8baf;
}

/**

	#FORMS

*/

.form {
	width: 400px;
	margin: 8px 0px 30px 30px;
	padding: 15px 10px 15px 10px;
	border-radius: 5px;
	background-color: #add8e6;
	border: solid 1px #1c8baf;
}

/* Wrapper for forms which are on their own page (/login, /register) */
.form-alone-wrapper {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.form-overlay {
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	z-index: 1000;
}

.form-overlay-inactive {
	display: none;
}

.form-welcome-text {
	display: inline-block;
	text-align: center;
	font-size: 1.25em;
	width: 100%;
}

.form-input-field-container {
	display: table;
	width: 100%;
}

.form-input-field-name {
	display: table-cell;
	font-size: 1.1em;
	width: 100px;
}

.form-input-field {
	width: 100%;
	display: table-cell;
}

.form-input-field-valid {
	background-image: url("../images/valid.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

.form-input-field-invalid {
	background-image: url("../images/invalid.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

.form-submit-container {
	width: 100%;
	display: table;
	text-align: right;
}

.form-register-redirect {
	text-align: right;
	width: 100%;
}

.form-register-redirect-link {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.form-errors {
	text-align: center;
	width: 100%;
}

/**

	#DASHBOARD

*/

.dashboard {
	padding-top: 4px;
	width: 100%;
	display: table;
}

.dashboard-section {
	display: table-cell;
	width: 33.3%;
	max-width: 33.3vw;
}

.dashboard-section-user {
	text-align: right;
	padding-right: 100px;
}

.dashboard-section-right {
	vertical-align: top;
	padding-top: 3em;
	padding-left: 2em;
}

.dashboard-section-feed {
	vertical-align: top;
}

.dashboard-new-kluch-alert {
	width: 85%;
	min-height: 3em;
	border: 1px solid gray;
	margin: auto;
	cursor: pointer;
	text-align: center;
	display: table;
	vertical-align: top;
	visibility: hidden;
	background-color: #add8e6;
	margin-bottom: 10px;
}

.dashboard-new-kluch-alert-visible {
	visibility: visible;
}

.dashboard-new-kluch-alert-text {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

/**

	#USER

*/

.user-avatar {
	position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-avatar-container {
	position: relative;
	padding: 0px;
	width: 200px;
	height: 200px;
	cursor: pointer;
	border: 1px dotted #add8e6;
	border-radius: 4px;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-property: border;
	transition-property: border;
}

.user-avatar-container:hover {
	border: 1px dotted #1c8baf;
}

.user-buttons-container {
	height: 100%;
	vertical-align: top;
	width: 100px;
}

.user-button {
	height: 2em;
	width: 100%;
	cursor: pointer;
	border: 1px dotted #add8e6;
	border-radius: 4px;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-property: border;
	transition-property: border;
	display: table;
	margin-bottom: 6px;
}

.user-button-inactive {
	display: none;
}

.user-button:hover {
	border: 1px dotted #1c8baf;
}

.user-button-image-container {
	height: 100%;
	display: table-cell;
	position: relative;
	width: 24px;
	height: 24px;
}

.user-button-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
}

.user-button-text {
	vertical-align: middle;
	display: table-cell;
	font-size: 1.25em;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-info-container {
	display: inline-block;
}

.user-info-text {
	text-align: left;
}

.user-info-text-name {
	font-size: 1.25em;
}

.user-info-text-social-stats {
	font-size: 0.95em;
	color: gray;
}

.user-info-profile-description {
	width: 250px;
	overflow: hidden;
	word-wrap: break-word;
}

.user-date-created {
	font-size: 0.95em;
	color: gray;
}

.user-feed {
	margin-top: 200px;
}

/**

	#KLUCH

*/

.kluch-input {
	width: 85%;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 25px;
}

.kluch-input-text-content {
	display: block;
	max-width: 100%;
	width: 100%;
	resize: none;
	padding: 0;
	margin: 0;
	border: 1px solid gray;
	min-height: 6em;
	word-wrap: break-word;
	font-size: 1.20em;
}

.kluch-input-controls {
	width: 100%;
	text-align: right;
}

.kluch-input-controls-text {
	font-size: 1.25em;
}

.kluch-input-controls-share {
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
	border-bottom: 1px dotted gray;
	border-radius: 1px;
	background-color: #add8e6;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.kluch-input-controls-share:hover {
	background-color: #1c8baf;
}

.kluch-input-controls-share:active {
	background-color: #b71664;
}

.kluch-feed {
	width: 100%;
}

.kluch-container {
	width: 33.3vw;
	margin: auto;
	display: inline-flex;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-animation: kluch-container-fade-in 0.3s ease-out forwards;
	-moz-animation: kluch-container-fade-in 0.3s ease-out forwards;
	-o-animation: kluch-container-fade-in 0.3s ease-out forwards;
	animation: kluch-container-fade-in 0.3s ease-out forwards;
	cursor: pointer;
}

@-webkit-keyframes kluch-container-fade-in { 
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@-moz-keyframes kluch-container-fade-in {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}


@-o-keyframes kluch-container-fade-in { 
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@keyframes kluch-container-fade-in {
	0% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

.kluch-container:hover {
	background-color: rgba(0, 0, 0, 0.025);
}

.kluch-avatar {
	width: 48px;
  height: 48px;
  flex-shrink: 0;
	flex-basis: 48px;
	margin-left: -48px;
}

.kluch-body {
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.kluch-header {
	font-size: 1.1em;
	height: 1.1em;
	color: rgba(0, 0, 0, 0.75);
	width: 100%;
}

.kluch-header-author {
	float: left;
}

a.kluch-header-author {
	color: rgba(0, 0, 0, 0.75);
	text-decoration: none;
	cursor: pointer;
}

.kluch-header-time {
	float : right;
	font-size: 0.75em;
}

.kluch-content {
	height: 100%;
	width: 100%;
}

.kluch-text {
	white-space: pre-wrap;
	word-wrap: break-word;
	display: block;
	max-width: inherit;
	margin: 2px;
}

a.kluch-text-user-link {
	color: #b71664;
	text-decoration: none;
	cursor: pointer;
}

a.kluch-text-hashtag-link {
	color: #1c8baf;
	text-decoration: none;
	cursor: pointer;
}

a.kluch-text-link-link {
	color: #b71664;
	text-decoration: none;
	cursor: pointer;
}

.kluch-footer {
	width: 100%;
	height : 32px;
	text-align: right;
	margin-top: 4px;
	display: inline-flex;
	justify-content: flex-end;
}

.kluch-footer-icon-container {
	width: 75px;
	text-align: center;
	margin-right: 4px;
	display: inline-flex;
	align-items: center;
}

.kluch-footer-icon {
	width: 30px;
	height: 28px;
}

.kluch-footer-icon-delete {
	
}

.kluch-footer-icon-delete-inactive {
	display: none;
}

.kluch-footer-text {
	color: gray;
	width: 32px;
}

/**

	#ALERT

*/

.alert-container {
	position: absolute;
	z-index: 990;
	width: 550px;
	height: 0px;
	top:0;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: #add8e6;
	border: 1px solid gray;
}

.alert-text-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.alert-text {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 550px;
	white-space: pre-wrap;
	word-wrap: break-word;
	display: inline-block;
	text-align: center;
}

/**

	#HASHTAG

*/

.hashtag-name-title-divider {
	padding-top: 2px;
}

.hashtag-name-title-container {
	width: 100%;
	height: 2.5em;
	text-align: center;
	background-color: #add8e6;
	border: 1px solid gray;
	margin-bottom: 15px;
}

.hashtag-name-title {
	font-size: 2em;
	display: inline-block;
	height: 100%;
}

/**

	#FOLLOWERS

*/

.followers-new-container {
	width: 100%;
	height: 2em;
	margin: 15px 0 10px 0;
}

.followers-new-text {

}

.followers-new-remaining-text {
	color: #b71664;
	text-decoration: none;
	cursor: pointer;
}

.followers-new-free {
	position: absolute;
	display: none;
	width: 200px;
	background-color: #add8e6;
	border: 1px solid gray;
}

.followers-new-free-element {
	display: table;
	height: 32px;
	width: 100%;
	color: black;
}

a.followers-new-free-element {
	text-decoration: none;
	cursor: pointer;
}

.followers-new-free-element-image-container {
	position: relative;
	display: table-cell;
	width: 32px;
	height: 32px;
}

.followers-new-free-element-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
}

.followers-new-free-element-text {
	vertical-align: middle;
	display: table-cell;
}

.followers-new-free-element-remaining-text {
	text-align: right;
	width: 100%;
}

/** 

	#FOOTER

*/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	height: 24px;
	width: 100%;
	background-color: white;
	text-align: center;
}


.footer-wrapper {

}

.footer-link {
	text-decoration: none;
	color: black;
}

/**

	#ABOUT

*/

.about {
	width: 100%;
	margin-top: 200px;
}

.about-link {
	text-decoration: none;
	color: black;
}

.about-element {
	width: 750px;
	margin: auto;
	padding: 10px;
	text-align: justify;
  text-justify: inter-word;
}

/**

	#LIKES

*/

.likes-new-container {
	width: 100%;
	height: 2em;
	margin: 15px 0 10px 0;
}

.likes-new-text {

}

.likes-new-remaining-text {
	color: #b71664;
	text-decoration: none;
	cursor: pointer;
}

.likes-new-free {
	position: absolute;
	display: none;
	width: 200px;
	background-color: #add8e6;
	border: 1px solid gray;
}

.likes-new-free-element {
	display: table;
	height: 32px;
	width: 100%;
	color: black;
}

a.likes-new-free-element {
	text-decoration: none;
	cursor: pointer;
}

.likes-new-free-element-image-container {
	position: relative;
	display: table-cell;
	width: 32px;
	height: 32px;
}

.likes-new-free-element-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
}

.likes-new-free-element-text {
	vertical-align: middle;
	display: table-cell;
}

.likes-new-free-element-remaining-text {
	text-align: right;
	width: 100%;
}

/**

	#SETTINGS

*/

.settings-container {
	padding-top: 15px;
	width: 75%;
	margin: auto;
	text-align: center;
}

.settings-header {
	font-size: 1.25em;
	padding-bottom: 15px;
}

p.settings-header {
	margin: 0;
}

.settings-item {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.settings-text {
	text-align: left;
}

.settings-input-number {
	size: 25px;
}

.settings-item-profile-description {
	height: 6em;
}

.settings-item-profile-description-element {
	width: 240px;
	resize: none;
}

.settings-save-button-container {
	width: 50%;
	text-align: right;
	margin: auto;
}

.settings-save-button {
	border: 1px dotted gray;
	border-radius: 1px;
	background-color: #add8e6;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.settings-save-button:hover {
	background-color: #1c8baf;
}

.settings-save-button:active {
	background-color: #b71664;
}

.settings-error {
	color: red;
}

.settings-delete-button {
	margin: auto;
	font-size: 1.5em;
	border: 2px dotted red;
	border-radius: 2px;
	background-color: #add8e6;
	cursor: pointer;
	width: 150px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.settings-delete-button:hover {
	background-color: #b71664;
}

.settings-delete-button:active {
	background-color: #b71664;
}

.settings-delete-button-inactive {
	display: none;
}

/**

	#CHAT

*/

.chat-container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.chat-messages-wrapper {
	float: left;
	width: 80%;
}

.chat-messages {
	height: 550px;
	overflow: auto;
	border: 2px solid gray;
}

.chat-message-container:nth-child(even) {
	background-color: #add8e6;
}

.chat-message-timestamp {
	width: 85px;
	color: gray;
	padding: 2px;
}

.chat-message-username {
	
}

.chat-message-text {
	padding-left: 5px;
	width: 250px;
}

.chat-input-container {
	width: 100%;
	display: inline-flex;
	align-items: center;
}

.chat-input-textbox {
	resize: none;
}

.chat-send-button {
	border: 2px dotted gray;
	border-radius: 2px;
	background-color: #add8e6;
	display: inline-block;
	font-size: 2em;
}

.chat-hidden {
	display: none;
}

.chat-user-list-container {
	width: 19%;
	height: 550px;
	overflow: hidden;
	border: 1px dashed gray;
}

.chat-user-list {
	overflow: auto;
}

.chat-user-element {
	width: 100px;
}