*, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.roundedCorners {
	border-radius: 25px;
	background-color: #87ceeb;
    border: 2px solid #00bfff;
    padding: 20px; 
    width: auto;
    min-width: 25%;
    height: auto;
    min-height: 15%;
}

.welcome {
	text-align: center;
	font-size: 3em;
}

.gray {
	color: rgb(32, 32, 32);
}

.mediumText {
	font-size: 2em;
}

.errorCell {
	width: auto;
}

.error {
	color: red;	
}

input[type="text"] {
	line-height:28px;
	border-width: 1px;
	border-color: gray;
}